<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpErrors errorMode="Detailed" />
<staticContent>
    <remove fileExtension=".woff2" /> 
    <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
</staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".cfm" allowed="true" />
                </fileExtensions>
            </requestFiltering>
            <ipSecurity>
                <add ipAddress="174.248.200.204" allowed="true" />
                <add ipAddress="168.161.192.15" allowed="true" />
                <add ipAddress="184.175.108.163" allowed="true" />
                <add ipAddress="108.185.96.154" allowed="true" />
                <add ipAddress="65.175.118.222" allowed="true" />
                <add ipAddress="76.95.198.143" allowed="true" />
                <add ipAddress="65.244.196.2" allowed="true" />
                <add ipAddress="174.193.138.204" allowed="true" />
            </ipSecurity>
        </security>
        <caching>
            <profiles>
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
            </profiles>
        </caching>
        <rewrite>
            <rules>
                <rule name="http redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\7.4\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>



