<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".pl" allowed="false" />
                    <add fileExtension=".cfc" allowed="true" />
                    <remove fileExtension=".cfc" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
                <add value="index.php" />
                <add value="iisstart.htm" />
                <add value="_holding.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
        </staticContent>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
